<div class="container">
    <div class="row">
        <div class="col" id="rcorners1" style="background-color:#f5f5f5 ">
            <div class="col offset-1">
                <div><h5>Total Money Sent: </h5></div>
                <div><h5>{{amountSent}}</h5></div>
            </div>
        </div>
        <div class="col offset-1" id="rcorners1" style="background-color:#f5f5f5 ">
            <div class="col">
                <div><h5>Total Money Recieved: </h5></div>
                <div><h5>{{amountRecieved}}</h5></div>
            </div>
        </div>
        <div class="col offset-1" id="rcorners1" style="background-color:#f5f5f5 ">
            <div class="col">
                <div><h5>Total Transactions: </h5></div>
                <div><h5>{{totalTransactions}}</h5></div>
            </div>
        </div>
    </div>
    <div>
        <h4>Recent 5 transactions</h4>
        <table class="table table-bordered">
            <thead>
                <tr class="col-md-8">
                    <th scope="col">#</th>
                    <th scope="col">Sender Username</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Reciever Username</th>
                    <th scope="col">Date of Transaction</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of recentTransaction;  index as i" class="col-md-4">
                    <td>{{i+1}}</td>
                    <td>{{u.senderName}}</td>
                    <td>{{u.amount}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.date|date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>